.form-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 1320px;
  height: auto;
  margin: 40px auto;
  align-items: center;
  border-radius: 10px;
}
.right-section {
  border: 1px solid black;
  height: 100%;
  
}
.form {
  display: grid;
  grid-template-rows: auto;
  padding: 15px;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.button {
padding: 10px;
border-radius: 5px;
background-color: #495E57;
color: #fff;
font-size: 25px;
}
